.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 30px;
    :global {
      .ant-form-item-control-input-content {
        width: 350px;
      }
    }
    @media screen and (max-width: 500px) {
      :global {
        .ant-form-item-control-input-content {
          width: 250px;
        }
      }
    }
  }
  